@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
}

html, body{
  width: 100%;
  min-height: 100%;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-mid: 17px;
  --font-size-81xl: 100px;
  --font-size-31xl: 50px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #363636;
  --medium-gray: #68666f;
  --color-dimgray-100: #5b5b5b;
  --dark-black: #222027;
  --black: #171717;
  --dark-theme-on-surface-full-emphasis: rgba(255, 255, 255, 0.9);
  --color-gray-100: rgba(255, 255, 255, 0.05);
  --color-gray-200: rgba(255, 255, 255, 0);
  --white: #fcfaff;
  --grid-color: #ede9f3;
  --primary-200: #bb86fc;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xs: 12px;

  /* border radiuses */
  --br-9xs: 4px;
  --br-9999981xl: 10000000px;
}
